:root {
  --primary-color: #364a78;
  --header-background: #364a78;
}

.header {
  background-color: var(--header-background);
  color: #ffffff;
}

.primary-color {
  color: var(--primary-color);
}

.primary-background {
  background-color: var(--header-background);
}

.search-form {
  border: 1px dashed var(--primary-color);
  padding: 15px;
}

.weather {
  border: 1px dashed var(--primary-color);
  margin-left: 5px;
  padding: 15px;
}

.forecast {
  border: 1px dashed var(--primary-color);
  margin-top: 15px;
  margin-left: 5px;
  padding: 15px;
}
