:root {
  --primary-color: #87ceeb;
  --header-background: #87ceeb;
  /* --header-background: #87ceeb; */
  /* --header-background: #eba286; */
}

.header {
  background-color: var(--header-background);
  color: #ffffff;
}

.primary-color {
  color: var(--primary-color);
}

.primary-background {
  background-color: var(--header-background);
}

.search-form {
  border: 1px dashed var(--primary-color);
}

.weather {
  border: 1px dashed var(--primary-color);
}

.forecast {
  border: 1px dashed var(--primary-color);
}

.card-custom {
  background-color: var(--primary-color);
  color: black;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
